<div class="row navbar">
  <button class="btn-sidebar">Taquerias</button>
  <p id="title">2D <img src="assets/images/taco.png" alt="taco" class="pic logo"> Trompo</p>
</div>
<div class="row">
  	<div class="two columns sidebar animated">
    	Puestos cercanos
    	<div ng-repeat="taco in tacos">

    	</div>
	</div>
    <div class="eight columns main" id="map">
	</div>
    <div class="two columns new animated">
    	¡Contribuye!
        <form>
        	Taquería:<br>
        	<input type="text" id="taco" ng-model="place"><br>
            Nombre:<br>
            <input type="text" id="nam" ng-model="username"><br>
            Reseña:<br>
            <input type="text" id="com" ng-model="comment"><br>
            <span class="star-rating">
              <input type="radio" name="rating" value="1" id="r1"><i></i>
              <input type="radio" name="rating" value="1" id="r2"><i></i>
              <input type="radio" name="rating" value="1" id="r3"><i></i>
              <input type="radio" name="rating" value="1" id="r4"><i></i>
              <input type="radio" name="rating" value="1" id="r5"><i></i>
            </span>
            <button id="sub_but">Submit</button>
          </form> 
    </div>
</div>
<div class="footer">
	Phaggots &copy 2016
</div>